@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


:root{
  --a: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.close {
  display: none;
}

.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style-type: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 2px;
  font-weight: bold;
  font-size: 12px;
}

.heading img {
  width: 17px;
}

.library {
  min-height: 76vh;
  position: relative;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburgerContainer {
  display: flex;
  gap: 15px;
}

.left .close {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 30px;
  cursor: pointer;
}

.songList {
  height: 460px;
  overflow: auto;
  margin-bottom: 44px 0;
}
.songList ul {
  padding: 0 12px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  padding: 13px;
  margin: 12px 0;
  border-radius: 8px;
  background-color: #252525;
}

.songList .info {
  width: 344px;
}

.info div {
  word-break: break-all;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  width: 64px;
  font-size: 15px;
  padding: 12px;
}

.footer {
  display: flex;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
  text-decoration: none;
}

.right {
  position: relative;
  margin: 16px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.buttons > * {
  margin: 0px 12px;
}

.signupbtn {
  background-color: #121212;
  color: rgb(148, 148, 148);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
}
.loginbtn:hover {
  font-weight: bolder;
  padding: 10px 11px;
  transform: scale(1.03);
  transition: transform 1ms ease-in-out;
}

.spotifyPlaylists {
  padding: 16px;
}

.spotifyPlaylists h1 {
  padding: 16px;
}

.cardContainer {
  margin: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-height: fit-content;
  overflow-y: auto;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition: all 0.5s;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 130px;
  right: 14px;
  opacity: var(--a);
  transition: all 0.5s;
}

.play:hover {
  scale: 1.05;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  --a : 1;
}

.playbar {
  position: fixed;
  right: 20px;
  z-index: 10;
  min-height: 40px;
  bottom: 30px;
  width: 70vw;
  border-radius: 10px;
  background-color: #252525;
  padding: 12px;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.songbuttons img {
  cursor: pointer;
}

.seekbar {
  position: absolute;
  bottom: 10px;
  width: 98%;
  height: 4px;
  background-color: #444;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.circle {
  position: relative;
  bottom: 6px;
  left: 0%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #444;

  transition: left 0.5s;
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.songinfo {
  width: 250px;
  padding: 0 12px;
}

.songtime {
  padding: 0 12px;
  width: 125px;
}

input[type="range"] {
  height: 3px;
  background-color: #444;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #444;
  border-radius: 50%;
  cursor: pointer;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.abovebar {
  display: flex;

  justify-content: space-between;
}

@media (max-width: 1200px) {
  .left {
    background-color: black;
    position: absolute;
    left: -120%;
    transition: all 0.5s;
    z-index: 1;
    width: 373px;
    padding: 0;
  }

  .right {
    width: 100vw;
  }

  .songinfo,
  .songtime {
    width: auto !important;
  }

  .abovebar {
    margin: 10px 0;
  }

  .playbar {
    width: calc(100vw - 60px);
  }

  .seekbar {
    width: calc(100vw - 70px);
  }

  .hamburger {
    display: block;
  }

  .cardContainer {
    max-height: 60vh;
    margin: 0;
    justify-content: center;
  }

  .card {
    width: 30vw;
  }

  .close {
    display: block;
  }
}


@media (max-width: 500px) {
  .card{
    width: 80vw;
  }
}